*~
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.thm
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.ist
.DS_Store
protodune-tdr.pdf
.lock-waf*
.waf-*
build
auto
