*~
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.thm
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.ist
*.nlo
*.tdo
.DS_Store
protodune-tdr.pdf
.lock-waf*
.waf-*
build
auto
protodune-tdr.aux
protodune-tdr.fdb_latexmk
protodune-tdr.fls
protodune-tdr.log
protodune-tdr.nlo
protodune-tdr.nls
protodune-tdr.out
protodune-tdr.pdf
protodune-tdr.tdo
protodune-tdr.toc
